<div class="login-form">
  <mat-card>
    <mat-card-content>
      <h1 *ngIf="modoCrear && !modoEditar">Registrar Empleado</h1>
      <h1 *ngIf="!modoCrear && !modoEditar">Iniciar Sesión</h1>
      <h1 *ngIf="!modoCrear && modoEditar">Modificar Empleado</h1>
      <form [formGroup]="formGroup">
        <mat-form-field class="full-width-input">
          <mat-label>Tipo de empleado</mat-label>
          <mat-select text="typeId"
          type="text"
          formControlName="typeId"
          matInput required>
            <mat-option value=1>Operador
            </mat-option>
            <mat-option value=2>Cajero
            </mat-option>
          </mat-select>
          <div *ngIf="formGroup.get('typeId')?.invalid && (formGroup.get('typeId')?.dirty || formGroup.get('typeId')?.touched)">
            <div *ngIf="formGroup.get('typeId')?.errors?.['required']">El tipo de empleado es requerido.</div>
          </div>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input 
                 text="cc"
                 type="text"
                 formControlName="cc"
                 matInput
                 placeholder="Documento"
                 required
                 [readonly]="modoEditar"
            />
          <div *ngIf="formGroup.get('cc')?.invalid && (formGroup.get('cc')?.dirty || formGroup.get('cc')?.touched)">
            <div *ngIf="formGroup.get('cc')?.errors?.['required']">El numero de documento es requerido.</div>
             <div *ngIf="formGroup.get('cc')?.errors?.['minLength']">El número de mínimo 6 caracteres</div>
             <div *ngIf="formGroup.get('cc')?.errors?.['maxLength']">El número de máximo 10 caracteres</div>
             <div *ngIf="formGroup.get('cc')?.errors?.['pattern']">El valor debe ser numérico</div>
          </div>
          
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input 
                 text="firstName"
                 type="text"
                 formControlName="firstName"
                 matInput
                 placeholder="Primer nombre"
                 required
            />
            <div *ngIf="formGroup.get('firstName')?.invalid && (formGroup.get('firstName')?.dirty || formGroup.get('firstName')?.touched)">
              <div *ngIf="formGroup.get('firstName')?.errors?.['required']">El primer nombre es requerido</div>
               <div *ngIf="formGroup.get('firstName')?.errors?.['minLength']">Mínimo 2 caracteres</div>
               <div *ngIf="formGroup.get('firstName')?.errors?.['maxLength']">Máximo 20 caracteres</div>
               <div *ngIf="formGroup.get('firstName')?.errors?.['pattern']">El valor debe ser alfabetico</div>
            </div> 
            
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input
                 text="secondName"
                 type="text"
                 formControlName="secondName"
                 matInput
                 placeholder="Segundo nombre"
            />
            <div *ngIf="formGroup.get('secondName')?.invalid && (formGroup.get('secondName')?.dirty || formGroup.get('secondName')?.touched)">
               <div *ngIf="formGroup.get('secondName')?.errors?.['minLength']">Mínimo 2 caracteres</div>
               <div *ngIf="formGroup.get('secondName')?.errors?.['maxLength']">Máximo 20 caracteres</div>
               <div *ngIf="formGroup.get('secondName')?.errors?.['pattern']">El valor debe ser alfabetico</div>
            </div> 
          
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input 
                 text="lastName"
                 type="text"
                 formControlName="lastName"
                 matInput
                 placeholder="Primer apellido"
                 required
            />
            <div *ngIf="formGroup.get('lastName')?.invalid && (formGroup.get('lastName')?.dirty || formGroup.get('lastName')?.touched)">
              <div *ngIf="formGroup.get('lastName')?.errors?.['required']">El primer apellido es requerido</div>
              <div *ngIf="formGroup.get('lastName')?.errors?.['minLength']">Mínimo 2 caracteres</div>
              <div *ngIf="formGroup.get('lastName')?.errors?.['maxLength']">Máximo 20 caracteres</div>
              <div *ngIf="formGroup.get('lastName')?.errors?.['pattern']">El valor debe ser alfabetico</div>
           </div>  
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input 
                 text="secondLastName"
                 type="text"
                 formControlName="secondLastName"
                 matInput
                 placeholder="Segundo apellido"
            />
            <div *ngIf="formGroup.get('secondLastName')?.invalid && (formGroup.get('secondLastName')?.dirty || formGroup.get('secondLastName')?.touched)">
              <div *ngIf="formGroup.get('secondLastName')?.errors?.['minLength']">Mínimo 2 caracteres</div>
              <div *ngIf="formGroup.get('secondLastName')?.errors?.['maxLength']">Máximo 20 caracteres</div>
              <div *ngIf="formGroup.get('secondLastName')?.errors?.['pattern']">El valor debe ser alfabetico</div>
           </div>  
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input 
                 text="mail"
                 type="email"
                 formControlName="mail"
                 matInput
                 placeholder="Correo electronico"
                 required
            />
            <div *ngIf="formGroup.get('mail')?.invalid && (formGroup.get('mail')?.dirty || formGroup.get('mail')?.touched)">
              <div *ngIf="formGroup.get('mail')?.errors?.['required']">El primer apellido es requerido</div>
              <div *ngIf="formGroup.get('mail')?.errors?.['email']">Formato no valido</div>
           </div>  
        </mat-form-field>
        <mat-form-field class="full-width-input" *ngIf="!modoEditar">
          <input 
                 text="password"
                 type="password"
                 formControlName="password"
                 matInput
                 placeholder="Contraseña"
                 [required] ="!modoEditar"
            />
            <div *ngIf="formGroup.get('password')?.invalid && (formGroup.get('password')?.dirty || formGroup.get('password')?.touched)">
              <div *ngIf="formGroup.get('password')?.errors?.['required']">Password es requerido</div>
          
           </div>  
        </mat-form-field>
        
        <mat-form-field class="full-width-input separator">
          <input 
                 text="phone"
                 type="text"
                 formControlName="phone"
                 matInput
                 placeholder="Celular"
                 required
            />
            <div *ngIf="formGroup.get('phone')?.invalid && (formGroup.get('phone')?.dirty || formGroup.get('phone')?.touched)">
              <div *ngIf="formGroup.get('phone')?.errors?.['required']">Valor requerido</div>
              <div *ngIf="formGroup.get('phone')?.errors?.['min']">Mínimo 10 caracteres</div>
              <div *ngIf="formGroup.get('phone')?.errors?.['maxLength']">Máximo 10 caracteres</div>
              <div *ngIf="formGroup.get('phone')?.errors?.['pattern']">El valor debe ser numérico</div>
           </div>  
        </mat-form-field>

        <button *ngIf="!modoCrear && !modoEditar" type="submit" (click)="onLogin()" mat-raised-button color="primary">
          Iniciar sesión
        </button>
        <button *ngIf="!modoCrear && modoEditar" type="submit" (click)="onEdit()" mat-raised-button color="primary">
          Editar
        </button>
        <div>
          <button  *ngIf="modoCrear && !modoEditar" type="submit" (click)="onSave()" mat-raised-button color="primary">
            Registrar
          </button>
        <button *ngIf="modoCrear || modoEditar" mat-icon-button color="warn" (click)="goBack()"><mat-icon>reply_all</mat-icon></button>

        </div>
        

      </form>
    </mat-card-content>
  </mat-card>
</div>
