.login-form {
    padding: 1rem 1rem;
  }
  mat-card{
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    height: 560px;
  }
  
  .full-width-input,
  button {
    width: 100%;
  }
  
  .separator {
    margin-bottom: 2rem;
  }